<!-- En tu archivo principal (por ejemplo, app.component.html) -->
<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header>
        <ion-avatar style="margin: auto;">
          <img src="">
        </ion-avatar>
      </ion-list-header>

      <ion-item routerLink="/home">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        Inicio
      </ion-item>
      <ion-item routerLink="/profile">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        Perfil
      </ion-item>
      <ion-item routerLink="/search">
        <ion-icon name="search-outline" slot="start"></ion-icon>
        Buscar
      </ion-item>
      <!-- Otros elementos de navegación según sea necesario -->
    </ion-list>
  </ion-content>

  <ion-footer>
    <ion-item routerLink="/logout">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      Cerrar sesión
    </ion-item>
  </ion-footer>
</ion-menu>
