  <img *ngIf="post?.img" [src]="post?.img" alt="Imagen del post">
  <p>{{ post?.user?.username }}</p>
  <p>{{ post?.description }}</p>
  <p *ngIf="post?.date">{{ post?.date | formatDate }}</p>

  
  <ion-icon name="thumbs-up" (click)="like($event)"></ion-icon>
  <button (click)="viewComments($event)">Ver Comentarios</button>

  
  <form (ngSubmit)="comment($event, commentInput.value)">
    <input type="text" #commentInput placeholder="Escribe un comentario...">
    <button type="submit">Comentar</button>
  </form>