<ion-card>

  <div *ngIf="showEditDeleteButtons">
    <ion-button (click)="editPost($event)">
      <ion-icon name="create"></ion-icon> <!-- Icono de editar -->
    </ion-button>
    <ion-button (click)="deletePost($event)">
      <ion-icon name="trash"></ion-icon> <!-- Icono de borrar -->
    </ion-button>
  </div>

  <img *ngIf="post?.img" [src]="post?.img" alt="Imagen del post" />

  <ion-card-header>
    <ion-card-title>{{ post?.user?.username }}</ion-card-title>
    <ion-card-subtitle>{{ post?.date | formatDate }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p>{{ post?.description }}</p>

    <ion-icon
      name="thumbs-up"
      [ngStyle]="{'color': post?.likedByUser ? 'blue' : 'black'}"
      (click)="like($event)"
      ></ion-icon>
    <button ion-button small (click)="viewComments($event)">Ver Comentarios</button>

      
  <form (ngSubmit)="comment($event, commentInput.value)">
    <input type="text" #commentInput placeholder="Escribe un comentario...">
    <button type="submit" ion-button small>
      <ion-icon name="send"></ion-icon>
    </button>
  </form>

  </ion-card-content>
</ion-card>
  


